<% include partials/head %> 
<div class="wrapper">
    <h1><%= title %></h1>
    <div class="ra-r">
        <div class="tp">
            <a class="thumb-pr mn" href="/Phones/create">Create new entry</a>
            <a class="thumb-pr r-e" href="/Phones/list">Modify a daily  Usage entry</a>
            
        </div>
       
    </div>
</div>
<% include partials/foot %>